In [9]:
import pandas as pd

# URL of the Titanic sample dataset CSV file
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"

# Load the dataset
titanic_df = pd.read_csv(url)

# Display the first few rows of the dataset
print(titanic_df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [10]:
import pandas as pd

# URL of the Titanic dataset CSV file
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"

# Load the dataset
titanic_df = pd.read_csv(url)

# Check for missing values in each column
missing_values_per_column = titanic_df.isnull().sum()

# Sum up all missing values across the entire dataset
total_missing_values = missing_values_per_column.sum()

# Display missing values per column and the total
print("Missing values per column:")
print(missing_values_per_column)

print(f"\nTotal missing values in the dataset: {total_missing_values}")

Missing values per column:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Total missing values in the dataset: 866

Summary of Interaction
Objective: The goal was to identify an interesting dataset with missing values and provide Python code to analyze the missing data.

Dataset Identification:

Dataset Chosen: Titanic Dataset
Source: Titanic Dataset CSV on GitHub
Description: The Titanic dataset includes information about passengers on the Titanic, such as whether they survived, their age, class, and other details. It is a commonly used dataset in data science for learning purposes.
Python Code Provided:

Loading the Dataset:

python
Copy code
import pandas as pd

# URL of the Titanic dataset CSV file
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"

# Load the dataset
titanic_df = pd.read_csv(url)

# Display the first few rows of the dataset
print(titanic_df.head())
Summarizing Missing Values:

python
Copy code
# Check for missing values in each column
missing_values_per_column = titanic_df.isnull().sum()

# Sum up all missing values across the entire dataset
total_missing_values = missing_values_per_column.sum()

# Display missing values per column and the total
print("Missing values per column:")
print(missing_values_per_column)

print(f"\nTotal missing values in the dataset: {total_missing_values}")
Purpose of the Code:

Loading Dataset: To read and preview the Titanic dataset.
Analyzing Missing Values: To identify and count missing values in each column and obtain a total count of missing values across the dataset.
Outcome: The provided code enables users to load the Titanic dataset and analyze missing values efficiently, supporting further data cleaning and preprocessing tasks.

Feel free to adjust or expand upon this summary based on your specific requirements or additional details you might want to include.